@media screen and (max-width: 767px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    header {
        justify-content: center;
        gap: 20px;
        width: 100%;
    }

    nav a {
        margin-bottom: 10px;
    }

    .mainMenu {
        display: none;
    }

    .mainMenu.active {
        display: block;
    }

    #hamburgerMenu {
        background-color: #006eb6;
        color: white;
        width: 40px;
        display: block;
        border: none;
        cursor: pointer;
        font-size: 30px;
    }
}

@media screen and (min-width: 768px) {

    #hamburgerMenu {
        display: none;
    }

    body {
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;

    }

    header {
        background-color: #006eb6;
        color: white;
        /* padding: 10px; */
        /* width: 80%; */
        /* margin: 0 auto; */
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .main-content {
        float: left;
        width: 70%;
    }

    main h2 {
        text-align: center;
        background-color: #006eb6;
        padding: 10px;
        color: white;
    }

    nav {
        background-color: #5A5A5A;
        color: white;
        width: 80%;
        /* margin: 0 auto; */
    }

    header img {
        padding: 10px;
    }

    nav ul {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }

    nav a {
        color: white;
        text-decoration: none;
        font-weight: bold;
    }

    ul {
        list-style-type: none;
    }

    .card {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        background-color: #eee;
        border-radius: 10px;
    }

    .container {
        grid-template-columns: 1fr 1fr;
    }

    .card h3 {
        text-align: center;
        background-color: #006eb6;
        padding: 10px;
        color: white;
        margin: 0;
        border-radius: 10px 10px 0 0;
    }

    .card li {
        padding: 10px;
    }

    .card p {
        margin: 0;
        padding: 10px;
    }

    footer {
        background-color: #006eb6;
        color: white;
        width: 80%;
        margin: 5px;
        text-align: center;
    }
}